.root {
  background-image: url('./background.png');
  width: 100%;
  min-height: 95vh;
}

.header {
  color: #fff;
  padding: 36px 0 24px;
}

.body {
  padding: 20px;
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
}
